*
{
    padding: 0px;
    margin: 0px;
}
.fullpage
{
    width: 99vw;
    height: 5000px;
}
.navbar {
    /* border: 2px solid red; */
    width: 99vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}

.navbar .navigationmanue {
    /* border: 2px solid red; */
    width: 100vw;
    height: 8vh;
    background-color: black;
    opacity: 0.7;
    position: fixed;
   
    
}

.navbar::before {
    content: "";
    background: url(img/pic1.jpg)no-repeat center center/cover;
    position: absolute;
    width: 99vw;
    height: 95vh;
    z-index: -1;
    opacity: 0.8;
}

 .navbar .portfolio {
    width: 10vw;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: absolute;
    margin-left: 100px;
    /* border: 2px solid red; */

   }

.navbar .navigation {
    /* border: 2px solid red; */
    width: 60vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color: black; */
    font-size: 30px;
    position: absolute;
    margin-left: 576px;
    padding: 10px;
    

}

.navbar .navigation a {
    /* margin: 30px; */
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}
.navbar .navigation a:hover
{
background-color: rosybrown;
padding: 10px 30px;
border-radius: 25px;
}

/* class introduction codding is here  */
.introduction {
    /* border: 2px solid red; */
    width: 50vw;
    height: 81vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;

}

.introduction .h1 {
    font-size: 75px;
    color:white;
    margin-left: 250px;
}

.introduction .h3 {
    font-size: 35px;
    color:white;
     margin-left: 0px;
    margin-left: 250px;
}

.introduction button {
    width: 100px;
    margin-left: 350px;
    margin-top: 10px;
    background-color: red;
    cursor: pointer;
}

/* section 02 coding is here  */
.aboutme {
    /* border: 2px solid red; */
    height: 65vh;
    width: 99vw;
    margin-top: 3px;
  
}
  .aboutme::before
  {
      content: " ";
      position: absolute;
      background: url(img/photo-1588288573536-a298889863cc.jpg) no-repeat center center/cover;
      width:99vw ;
      height: 65vh;
      opacity: 0.5;
      z-index: -1;
  }
.aboutme h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-size: 35px;
   
}

.aboutme .pic-content
{
    /* border: 2px solid red; */
    width: 99vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.aboutme .content {
   
    /* border: 2px solid red; */
    height: 50vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    background-color: rgb(249, 252, 255);
    margin: 15px;

}
.aboutme .content button
{
    margin-top: 15px;
    width: 100px;
    background-color: red;
}


.edu {
    /* border: 2px solid red; */
    width: 99vw;
    height: 55vh;
    /* background-color: blanchedalmond; */

}

.edu h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: black;
    /* border: 2px solid red; */

}

.edu .education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 99vw;
    /* height: 50vh;
    border: 2px solid red; */

}
.edu .box
{
    /* border: 2px solid red; */
    width: 25vw;
    height: 45vh;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornsilk;


}

   /* end of section .education  */

   /* education section start  */
   .skill{
    /* border: 2px solid red; */
    width: 99vw;
    height: 60vh;
    background-color: rgb(218, 145, 145);

}
.skill .skl{
    color: black;
}

.skill h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: red;
    /* border: 2px solid red; */
     }

.skill .allskills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 99vw;
    height: 50vh;
    /* border: 2px solid red; */

}
.skill .box
{
    /* border: 2px solid red; */
    width: 18.75vw;
    height: 45vh;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    flex-direction: column;
    background-color:black;
    transition: all;
    transition-duration: 1s;
  }
  .skill .box:hover
  {
      font-size: 45px;
      box-shadow: 10px 10px 10px ;
      color: red;
  }

  /* education section end  */


  /* contact me coding start  */
  .contact {
    /* border: 2px solid red; */
    width: 99vw;
    height: 52vh;
}

.contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: black;
    /* border: 2px solid red; */
}

.contact .box {
    /* border: 2px solid red; */
    width: 99vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .box .box1
{
    width: 35vw;
    height: 39vh;
    /* border: 2px solid red; */
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.contact .box #box-1
{
    /* border: 2px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .box #box-2 form input
{
    outline: none;
    margin: 5px;
    width: 15vw;
}
.contact .box #box-2 form .subject
{
 width: 480px;
}
.contact .box #box-2 form textarea
{
    margin: 5px;
    width: 480px;
    outline: none;
}
.contact .box #box-2 form button
{
    margin-left: 5px;
    width: 483px;
}

/* contact me coding end  */

footer
{
    width: 99vw;
    height: 5vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* for phones */

    @media screen and (max-width: 1520px)

{
   
   
   .aboutme .pic-content
   {
    display: flex;
    flex-direction: column;
   
   }
   .aboutme .pic-content .content
   {
       width: 80vw;
   }
   .edu 
   {
    height: 60vh;
    width: 99vw;
    display: flex;
    flex-direction: column;

   }
   .edu .education
   {
    display: flex;
    flex-direction: column;
    }
    .edu .education .box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 99vw;
    } 
    .skill 
    {
        display: flex;
        flex-direction: column; 
        height: 100vh;
    }
    
    .skill .allskills
    {    
        height: 90vh;
        width: 99vw;
        display: flex;
        flex-direction: column; 
    }
    .skill .allskills .box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 99vw;
    }
  .contact
  {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .contact #box-2 form
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
